<div class="total">
<h2>Total:</h2>
<% score = 0 %>
<% for transaction in @transactions %>
<% score += transaction.amount %>
<% end %>
<p>£<%= sprintf "%.2f" % score %></p>
</div>


<h2> Merchants </h2>
<table>
  <thead>
    <tr>
  
      <th>Merchant Name</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>
<tr>
<% @merchants.each do |merchant| %>

<td><%= merchant.name %></td>
<td><a href="/merchants/<%= merchant.id %>">View</a></td>
</tr>
<% end %>
</tbody>

<div class="addTable">
  <a href="/merchants/new"><h2>New Merchant</h2></a>
</div>