<h2> Tags </h2>

<table>
  <thead>
    <tr>
  
      <th>Tag Name</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>
<tr>
<% @tags.each do |tag| %>

<td><%= tag.name %></td>
<td><a href="/tags/<%= tag.id %>">View</a></td>
</tr>
<% end %>
</tbody>

<div class="addTable">
  <a href="/transactions/new"><h2>New Tags</h2></a>
</div>