<div class="total">
<h2>Total:</h2>
<% score = 0 %>
<% for transaction in @transactions %>
<% score += transaction.amount %>
<% end %>
<p>£<%= sprintf "%.2f" % score %></p>
</div>

<h2> Tags </h2>

<table>
  <thead>
    <tr>
  
      <th>Tag Name</th>
      <th>View</th>
    </tr>
      </thead>
       <tbody>
<tr>
<% @tags.each do |tag| %>

<td><%= tag.name %></td>
<td><a href="/tags/<%= tag.id %>">View</a></td>
</tr>
<% end %>
</tbody>

<div class="addTable">
  <a href="/tags/new"><h2>New Tags</h2></a>
</div>